@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200;300;400;500;600;700&display=swap");

:root {
  --primary-color: #5591ff;
  --secondary-color: #1b206e;
}

/* BASE STYLES */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Noto Serif SC", serif;
  color: #111;
  background-color: white;
  border-top: 5px solid var(--primary-color);
}

h1 {
  font-size: 40px;
  font-weight: 600;
}

h2 {
  font-size: 25px;
  font-weight: 500;
}

p {
  margin: 20px 0 10px;
  font-size: 1.1rem;
  line-height: 1.5;
}

header {
  display: flex;
  width: 90%;
  height: 10vh;
  margin: auto;
  align-items: center;
}

.logo-container,
.nav-links {
  display: flex;
  align-items: center;
}

.nav-links {
  justify-content: space-around;
  list-style: none;
}

.nav-link {
  color: black;
  text-decoration: none;
  font-size: 22px;
  font-weight: 400;
}
.nav-link:hover {
  color: var(--primary-color);
}

.logo-container {
  /* background: lightblue; */
  flex: 3;
}

.logo {
  font-weight: 300;
  font-size: 30px;
  margin-left: 10px;
}
.freedom-logo {
  width: 60px;
}

nav {
  flex: 1;
}
.home-content {
  position: relative;
  margin-left: calc(50vw * 1.05);
  /* top: 20vh;
  right: 200px; */
  /* top: 20%;
  right: 100%; */

  /* max-width: 500px; */
  width: 40vw;

  /* padding: 0 0 0 50px; */
  align-items: center;
}

section.home {
  position: relative;
  /* flex-direction: row; */
  display: flex;
  height: 80vh;
  align-items: center;
  width: 90%;
  margin: auto;
}

.cover {
  position: absolute;

  left: 0;
  max-height: 100%;
  /* animation: drop 1.5s ease; */
  transform: translateX(calc(50vw - 1500px));
  margin-right: 500px;
}
.download-link {
  text-decoration: underline;
  color: var(--primary-color);
  font-weight: 700;
}

/* BUTTON */
.btn {
  cursor: pointer;
  display: inline-block;
  background: var(--primary-color);
  color: #fff;
  text-decoration: none;
  padding: 10px 30px;
  margin: 20px 0;
  border: 0;
  text-align: center;
}

.btn:hover {
  transform: scale(0.98);
}
footer {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  width: 90%;
  margin: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 5vh;
}
.footer-icon {
  color: grey;
  margin-right: 10px;
  margin-left: 10px;
}
.footer-text {
  font-size: 15px;
  margin: 5px 0 0 0;
}
@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media only screen and (min-width: 2500px) {
  /* section.home {
    width: 1500px;
  }
  header {
    width: 1500px;
  } */
  /* .cover {
    transform: translateX(-100px);
  }
  .home-content {
    right: 10%;
  } */
}

@media (max-width: 1000px) {
  section.home {
    flex-direction: column;
  }
  header {
    height: 15vh;
  }
  .cover {
    display: block;
    transform: none;
    width: 100%;
    position: relative;
    margin-right: 0;
  }
  .home-content {
    top: 20px;
    position: relative;
    text-align: center;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 90%;
  }
  header {
    flex-direction: column;
    margin-top: 15px;
  }
  .logo {
    font-size: 30px;
  }
  .freedom-logo {
    width: 50px;
  }
  .nav-links {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.1);
  }
  .nav-link {
    padding: 10px;
    font-size: 20px;
  }
  h1 {
    font-size: 30px;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  h1 {
    font-size: 22px;
  }
  .tag-line {
    font-size: 15px;
  }
  section.home {
    height: 75vh;
  }
  .btn {
    font-size: 12px;
    margin: 10px 0;
    padding: 5px 8px;
  }
  h2 {
    font-size: 18px;
  }
  .download-link {
    font-size: 12px;
  }
  p {
    margin: 15px 0 10px;
    font-size: 12px;
  }
  .home-content {
    padding-top: 20px;
  }
  footer {
    font-size: 25px;
  }
  .nav-links {
    margin: 10px 0 15px 0;
  }
  .nav-link {
    font-size: 16px;
  }
  .logo {
    font-size: 22px;
  }
  .freedom-logo {
    width: 35px;
  }
}

/* @media (max-width: 1068px) {
  .home-img {
    display: none;
  }

  .logo {
    top: 10px;
    left: 40px;
    font-size: 1.5rem;
  }

  section {
    padding: 100px 40px;
  }

  .navigation ul li a {
    font-size: 2rem;
  }

  .services {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact {
    flex-direction: column;
  }

  .contact-form {
    width: 100%;
    padding: 30px 30px 20px;
  }

  .contact-form .row {
    flex-direction: column;
  }

  .contact-form .input50,
  .contact-form .input100 {
    width: 100%;
    margin: 0;
  }

  .contact-info {
    width: 100%;
    margin-top: 20px;
    padding: 30px 30px 20px;
  }
}

@media (max-width: 768px) {
  .services {
    grid-template-columns: 1fr;
  }

  .services .service {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  }
} */
